h1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;  
  font-style: italic;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2em;
  position: relative;
}

h4{
  color: grey;
}

.credit{
  font-size: small;
}
.jumbotron{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;   
  overflow: auto;
}
.jumbotron figure{
  content: 'display : float';
}
img {
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #FFF;
  z-index: 999;
}
.topBar {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.topIcon {
  width: 18px;
  padding: 0.5rem;
}
.topCategory {
  position: absolute;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  padding: 0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.topCategory:hover {
  text-decoration: underline;
  cursor: pointer;
}
.logo {
  width: 250px;
  padding-top: 5px
}
.topButton {
  background-color: #567B95;
  border: none;
  color: #FFF;
  padding: 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  transition: background-color 0.4s
}
.topButton:hover {
  cursor: pointer;
  background-color: #759cb8;
}

/* Article */
article {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-between;
  position: relative;
}
article section{
    flex-basis: 60%;
}
article aside{
    flex-basis: 30%;
}
article span {
  position: relative;
  top: 10px
}
.author {
  color: #000;
  font-weight: bold;
  transition: color 0.3s;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.author:hover {
  text-decoration: underline;
  color: rgb(29, 29, 29);
}
.articleWrapper {
  display: flex;
  justify-content: space-between;
}
.social {
  height: 40px;
}
.social .icons {
  background-color: #eee;
  margin: 5px;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.4s;
  border: 1px solid #eee;
  position: relative;
}
.icons:hover {
  background-color: rgb(206, 206, 206);
  border: 1px solid rgb(129, 129, 129);
}
.social .iconsImg {
  width: 17px;
  position: relative;
  left: 1px;
  top: 3px
}
#curvedArrow {
  transform: rotate(100deg);
}
#bookmark {
  position: relative;
  top: 8px;
  width: 25px;
  transition: opacity 0.2s;
}
#bookmark:hover {
  opacity: 50%;
}
#chat {
  width: 20px;
  position: relative;
  top: 8px;
  width: 25px;
  transition: opacity 0.2s;
}
#chat:hover {
  opacity: 25%;
}
section{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.subscription{
  text-align: center;
  font-size: medium;
}
ul{
  list-style-type: none;
}
hr{
  color: grey;
  border: solid;
}

aside {
    position: relative;
    top: 50%;
    margin-top: -70rem;
    width: 20%;
    float: right;
}
aside section{
    margin: 1rem;
    padding: 1rem;
}
#editorsPick img {
    width: 70px;
    padding: 0.5rem;
    float: left;
}

/* Grid System */
.theory{
  display: block;
  margin: auto;
  max-width: 1000px;
}
.theoryWrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.2rem;
  width: 100%;
}
.theoryImage {
  position: absolute;
  z-index: 1;
  display: block;
  height: auto;
  width: 100%;
}
.imageText {
  font-size: 80%;
  position: relative;
  top: 128px;
  margin-bottom: 125px;
  z-index: 10;
}
.imageText span {
  font-weight: bold;
}
.jumbo {
  display: flex;
  justify-content: center;
}

/* Footer */

.footerWrapper {
  display: flex;
  justify-content: center;
}

.wrapperTitle {
  display: flex;
  justify-content: space-between;
}
.wrapperOneContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border: 1px solid grey;
}

.cardImage {
  display: flex;
}
.btn {
    border-radius: 0.5em;
    background-color:#567B95;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .btn:hover {background: #7aa1bd;}
  .info {color:#FFF}
  .articleFooter{
    display: flex;
    justify-content: space-between;
  }
