<<<<<<< HEAD
h1{
    text-align: center;
    font-style: italic;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin-top: 5em;
}

.jumbotron{
    align-items: center;
   
}

=======
body {
  margin: 0;
}
.topBar {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.topIcon {
  width: 18px;
}
>>>>>>> 178833314168b0d85a00c15c8032210c6501e45e
